# Entornos Virtuales
.venv/
venv/
__pycache__/

# Archivos Sensibles y temporales
github_token.txt
*.log

# Archivos Fuente pesados (NO deben ir a Git)
pdfs_fuente/

# Archivos de Build de Documentación (Generados por Sphinx)
docs/_build/

# Residuos de JSON y utilidades (si los dejamos en local pero no queremos subirlos)
json_capitulos/
utils/
